<h1>Destly- A url shotener</h1>

<%= form_with model: @link, remote: true do |form| %>
<%= form.text_field :url, placeholder: "Enter url to shorten!"%>
<%= form.submit "Create Shortlink"%>
<% end %>

<div id="url-shortlink">
<p>url-shortlink: </p>
</div>
  